
# Ignore everything
*
# Don't ignore the git files
!.gitattributes
!.gitignore
!.gitmodules
!environment.yml
!README.md
# Don't ignore the docs folder
!docs
# Don't ignore the devcontainer
!.devcontainer
# Ignore the user's credentials
.devcontainer/credentials

!.vscode
!.vscode/restore-terminals.json